html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  margin: 0px;
  background-color: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 95%);
}

div#root {
  max-width: 1000px;
  margin: auto;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
}