@import "./colors.scss";

div.seasons {
  width: 100%;

  & a {
    display: inline-block;
    padding: 9px 15px;
    border: 2px solid black;
    border-radius: 6px;
    color: #121212;
    text-decoration: none;
    margin-right: 6px;
    margin-bottom: 6px;

    &:hover {
      text-decoration: underline;
      border: 2px solid white;
    }
  }

  &.tos a {
    background-color: $tos;
  }
  &.tng a {
    background-color: $tng;
  }
  &.ds9 a {
    background-color: $ds9;
  }
  &.voy a {
    background-color: $voy;
  }

}