@import "./colors.scss";

header {
  text-align: center;
  margin-top: 6px;
}

header a {
  display: inline-block;
  padding: 9px 15px;
  border: 2px solid black;
  border-radius: 6px;
  color: #121212;
  text-decoration: none;
  margin-right: 6px;
  margin-bottom: 6px;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
    border: 2px solid white;
  }

  &.home {
    background-color: $home;
  }

  &.tos {
    background-color: $tos;
    font-style: italic;
  }

  &.tng {
    background-color: $tng;
    font-style: italic;
  }

  &.ds9 {
    background-color: $ds9;
    font-style: italic;
  }

  &.voy {
    background-color: $voy;
    font-style: italic;
  }

}