@import "./colors.scss";

header a {
  display: inline-block;
  padding: 6px;
  border: 2px solid black;
  border-radius: 6px;
  color: #121212;
  text-decoration: none;
  margin-right: 6px;
  margin-bottom: 6px;

  &:hover {
    text-decoration: underline;
    border: 2px solid white;
  }

  &.home {
    background-color: $home;
  }

  &.tos {
    background-color: $tos;
  }

  &.tng {
    background-color: $tng;
  }

  &.ds9 {
    background-color: $ds9;
  }

  &.voy {
    background-color: $voy;
  }

}